.container-box {
 
  margin: auto;
  width: 95%;
  margin-top: 5vh;
  padding: 2rem 0.5rem !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}


